body
{
	padding-top: 0px;
	background-color: hsl(0, 0%, 95%);
}

#prefpanel {
	display: none;
	background-color: rgb(226, 226, 226);
	padding: .5em;
	text-align: center;
	border-bottom: silver 1px solid;
}

#switchToGridView{
	display: none;
}

.post_title.isarabic {
	text-align: right;
}

.main.title ul {
	padding-left: 10px;
	position: absolute;
	list-style: none;
	margin: 0;
}
.menu {
	width:50%;
	margin: 0 auto;
}
.main.title ul li {
	float: left;
	margin-right: 10px;
}

.menu a {
	color: hsl(357, 72%, 30%);
}

.main.title ul li img{
	max-width: 24px;
}

.post_title.isarabic a{
	font-size: 1.1em;
	line-height: 1.2em;
}

div.main.title
{
	position: fixed;
	top: 0;	
	padding-top: 10px;
	padding-bottom: 10px;
	height: 30px;
	width: 100%;
	text-align: center;
	-moz-box-shadow: 0 1px 1px #333;
	-webkit-box-shadow: 0 1px 1px #333;
	box-shadow: 0 1px 1px #333;
	opacity: 1;
	background: url(background.png) #a13038;
	z-index: 999;
	color: #fff;
	margin: 0 auto .2em;
	font: italic x-large Georgia, "Times New Roman", Times, serif;
	text-shadow: 1px 1px 1px #4c4c4c;
}



.subheader
{
	text-align: center;
	margin-top: 50px;
	color: #ededed;
	background-color: hsl(357, 72%, 30%);
	padding: .5em;
	position: relative;
}

.prefopen img {
	opacity: 0;
	position: absolute;
	right: 1em;
	top:.5em;
}

.subheader h2{
	margin:0;
	font: italic medium Georgia, "Times New Roman", Times, serif;
}

footer h2.subheader {
	position: relative;
	margin-top: 10px;	
	margin-bottom: 0px;
	width:100%;
}

footer small {
	opacity: 0.8;
}

h2 a { color: white; }
h2 a:hover { text-decoration: underline; }

#wrapper
{
	position: relative;
	top: 0px;
	display: block;
	clear: both;
	margin: auto;
}

#loader {
	width: 100%;
	text-align: center;	
}

a
{
	color: gray;
	text-decoration: none;
}

div.post_title a
{
	font-size: .8em;
	line-height: .8em;
	color: #982520;
}

#title p
{
	opacity: .7;
	margin-top: 102px;
	margin-bottom: 0px;
}

#main-container
{
	position: relative;
	display: block;
	overflow: auto;
	margin: 10px auto;
}


div.blog_name
{
	font-size: .9em;
	font-weight: bold;
	text-transform: uppercase;
}

div.blogentry.metablog div.dash_thumbnail{
border-top: 1px dashed #b81d21;
border-bottom: 1px dashed #b81d21;

}

div.blogentry.metablog{
	border: 1px solid #b61d22;
	background-color: #ebe8df;
}



div.blogentry
{
	margin-right:10px;
	margin-left: 10px;
	overflow: hidden;
	background: white;
	width: 308px;
	float: left;
	border: 1px solid #b3b3b3;
	padding-top: 10px;
	padding-bottom: 10px;
	-moz-box-shadow: 0 1px 2px #8f8f8f;
	-webkit-box-shadow: 0 1px 2px #8f8f8f;
	box-shadow: 0 1px 2px #8f8f8f;
	/* The Properties below allow for the animation when resized*/
	/*-webkit-transition: top 1s ease, left 1s ease;
	-moz-transition: top 1s ease, left 1s ease;
	-o-transition: top 1s ease, left 1s ease;
	-ms-transition: top 1s ease, left 1s ease;*/

}

div.blogentry.metablog div.thumb_and_title div.blog_info div.blog_name {
	color: #bb1d22;	
}

div.blogentry.metablog div.thumb_and_title div.blog_info div.post_title a {
	color: #84141b;	
}

div.dash_thumbnail p
{
	font-size: .8em;
	line-height: 2em;
	padding: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.dash_thumbnail
{
	background-color: hsl(59, 20%, 95%);
	border-top: 1px dashed silver;
	border-bottom: 1px dashed silver;
}
div.dash_thumbnail img{
	max-width: 300px;
}

div.thumb_and_title
{
	overflow: hidden;
	margin-bottom: 10px;
	margin-right: 9px;
	margin-left: 9px;
}

div.blog_thumb
{
	width: 60px;
	float: left;
}

div.blog_info
{
	width: 220px;
	float: left;
}

div.post_title { line-height: 1em; }

div.sharing_tools ul
{
	font-size: .8em;
	padding-top: .2em;
	padding-bottom: .2em;
	overflow: auto;
	list-style-type: none;
	margin-bottom: 0px;
	background-color: hsl(59, 55%, 91%);
}

div.blogentry.metablog div.sharing_tools ul {
	background: url('../images/bg.jpg') no-repeat left top #84141b;

}

#main-container div.blogentry.metablog div.sharing_tools ul li a {
	color: white;
}

#main-container div.blogentry.metablog div.sharing_tools ul li {
	color: #c8c6c6;
}

div.blogentry.metablog div.thumb_and_title div.blog_thumb img {
	border: 1px solid black;	
}

div.sharing_tools li
{
	float: left;
	margin-right: 10px;
}

#title img
{
	position: absolute;
	top: 0px;
	left: 0px;
}

#title a { color: #eab019; }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
{
	div.main-container
	{
		margin: 0px;
		width: 100%;
	}
	
}
