body {
	padding-top: 0px;
	background-image: url(noise.png);
	background-color: rgb(218, 218, 218);

}

#prefpanel {
	display: none;
	background-color: rgb(226, 226, 226);
	padding: .5em;
	text-align: center;
	border-bottom: silver 1px solid;
}

#switchToGridView{
	display: none;
}

.post_title.isarabic {
	text-align: right;
}

.main.title ul {
	padding-left: 10px;
	position: absolute;
	list-style: none;
	margin: 0;
}
.menu {
	width:50%;
	margin: 0 auto;
}
.main.title ul li {
	float: left;
	margin-right: 10px;
}

.menu a {
	color: hsl(357, 72%, 30%);
}

.main.title ul li img{
	max-width: 24px;
}

.post_title.isarabic a{
	font-size: 1.1em;
	line-height: 1.2em;
}

div.main.title
{
	position: relative;
	top: 0;	
	padding-top: 10px;
	padding-bottom: 10px;
	height: 30px;
	width: 100%;
	text-align: center;
	-moz-box-shadow: 0 1px 1px #333;
	-webkit-box-shadow: 0 1px 1px #333;
	box-shadow: 0 1px 1px #333;
	opacity: 1;
	background: url(background.png) #a13038;
	z-index: 999;
	color: #fff;
	font: italic x-large Georgia, "Times New Roman", Times, serif;
	text-shadow: 1px 1px 1px #4c4c4c;
}



.subheader
{
	text-align: center;
	color: #ededed;
	background-color: hsl(357, 72%, 30%);
	padding: .5em;
	position: relative;
}

.prefopen img {
	opacity: 0;
	position: absolute;
	right: 1em;
	top:.5em;
}

.subheader h2{
	margin:0;
	font: italic medium Georgia, "Times New Roman", Times, serif;
}

footer h2.subheader {
	position: relative;
	margin-top: 10px;	
	margin-bottom: 0px;
	width:100%;
}

footer small {
	opacity: 0.8;
}

h2 a { color: white; }
h2 a:hover { text-decoration: underline; }

#wrapper
{
	position: relative;
	top: 0px;
	display: block;
	clear: both;
	margin: auto;
}

#loader {
	width: 100%;
	text-align: center;	
}

#loadingnew{
	color: rgb(120,120,120);
	width: 100%;
	position: relative;
	display: inline-block;
	top: 0;
	left:0;
	text-align:center;
	padding: 1em;
	background: rgb(240,240,240);
}

a
{
	color: gray;
	text-decoration: none;
}

div.post_title a
{
	font-size: .8em;
	line-height: .8em;
	color: #982520;
}

#title p
{
	opacity: .7;
	margin-top: 102px;
	margin-bottom: 0px;
}

#main-container
{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 10px auto;
}


div.blog_name
{
	font-size: .9em;
	font-weight: bold;
	text-transform: uppercase;
}

div.blogentry {
margin: 10px;
overflow: hidden;
background: white;
width: 308px;
float: left;
border: 1px solid rgb(250, 250, 250);
padding-top: 10px;
padding-bottom: 10px;
-moz-box-shadow: 0 1px 2px #8f8f8f;
-webkit-box-shadow: 0 1px 1px rgb(199, 199, 199);
box-shadow: 0 1px 1px rgb(179, 179, 179);
border-radius: 5px;
}


div.dash_thumbnail
{
	background-color: white;
}

div.dash_thumbnail blockquote {
	font-family: 'Droid Serif', serif;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 0;
	margin-bottom: 0;
}


#main-container a blockquote{
	color: #777;
	font-size: 1em;

}

div.dash_thumbnail img{
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	max-width: 282px;
	margin-left: 9px;
}

div.quote {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px silver solid;
	background: url(leftquote.png) no-repeat 9px 10px rgb(248,248,248);
	min-height: 80px;
}

div.thumb_and_title
{
	overflow: hidden;
	margin-bottom: 10px;
	margin-right: 9px;
	margin-left: 9px;
}

div.blog_thumb
{
	width: 60px;
	float: left;
}

div.blog_info
{
	max-width: 220px;
	float: left;
}

div.post_title { line-height: 1em; }

div.sharing_tools ul
{
	overflow: auto;
	list-style-type: none;
	margin-bottom: 0px;
	margin-left: 9px;
	padding-left: 0px;
}



div.sharing_tools li
{
	opacity: .3;
	float: left;
	margin-right: 10px;
}

div.sharing_tools li:hover {
	opacity:1;
}

#title img
{
	position: absolute;
	top: 0px;
	left: 0px;
}

#title a { color: #eab019; }

#left-menu{
	display: none;
}

#jPanelMenu-menu {
	font-family: "museo-sans","Museo Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #3b3b3b;
}

#jPanelMenu-menu ul {
	margin: 0;
	padding: 0;
}

#jPanelMenu-menu p {
	padding: 0.5em 5%;
	color: rgb(23, 23, 23);
}

#jPanelMenu-menu p a {
	color: rgb(23, 23, 23);
	text-decoration: underline;
}

#jPanelMenu-menu li.heading {
	color: rgb(143, 143, 143);
	padding: 0.3em 5%;
	background: rgb(43, 43, 43);
}

#jPanelMenu-menu li a {
background: #3b3b3b;
background: -o-linear-gradient(top, #3e3e3e, #383838);
background: -ms-linear-gradient(top, #3e3e3e, #383838);
background: -moz-linear-gradient(top, #3e3e3e, #383838);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e3e3e), color-stop(1, #383838));
background: -webkit-linear-gradient(#3e3e3e, #383838);
background: linear-gradient(top, #3e3e3e, #383838);
font-weight: 300;
font-weight: 700;
display: block;
padding: 0.5em 5%;
border-top: 1px solid #484848;
border-bottom: 1px solid #2e2e2e;
text-decoration: none;
text-shadow: 0 -1px 2px #222;
color: #f7f7f7;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
{
	div.main-container
	{
		margin: 0px;
		width: 100%;
	}

	.hidemobile {
		display: none;
	}
	
}
