/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.strong {
  font-weight: bold; }

.lbred {
  color: #b12530; }

.searchingFor {
  width: 200px;
  float: left;
  margin-right: 20px;
  background: beige;
  padding: 2px; }
  .searchingFor h4 {
    font-size: 12px; }

html {
  font-size: 62.5%; }

.em {
  font-style: italic; }

.understated {
  opacity: .7; }

.strong {
  font-weight: bold; }

.background-greylightest {
  background: #f2f2f2; }

.background-red {
  background: #b12530; }

.background-white {
  background: white; }

.background-bluegreen {
  background: #048C97; }

.primaryfont {
  font-family: "Bitter",sans-serif; }

.secondaryfont {
  font-family: "Source Sans Pro",sans-serif; }

.arabicfont {
  font-family: 'Droid Arabic Kufi', serif; }

input:focus, textarea:focus {
  outline: none; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.6em;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #555; }

a.btn {
  display: inline-block;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: .6em 1.6em; }
  a.btn.btn-red {
    background-color: #b12530;
    border-color: #72181f;
    text-shadow: 0 1px 0 #72181f;
    color: #FFF; }
    a.btn.btn-red:hover {
      background-color: #9c212a;
      border-color: #5d1319; }
  a.btn.btn-large {
    padding: 10px 30px; }
  a.btn.btn-small {
    text-transform: capitalize;
    font-size: 12px;
    padding: 0.3em 0.3em;
    line-height: 1em; }
  a.btn.btn-whitetext {
    color: white; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1, h2, h3, h4 {
  line-height: 1.6em;
  margin: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

p {
  margin: .5em 0; }

textarea, input {
  padding: .4em .4em;
  font-size: .8em;
  line-height: 1.3em;
  border-radius: 4px;
  border: silver 1px solid; }

#modal {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); }
  #modal .modal-header {
    padding: 0;
    overflow: auto;
    width: 100%;
    padding: 1px;
    margin-bottom: -20px; }
    #modal .modal-header .modal-dismiss {
      margin-top: -2px;
      color: grey;
      cursor: pointer;
      float: right;
      padding: 5px 3px;
      background: transparent;
      border: 0;
      font-size: 21px;
      line-height: 21px;
      font-weight: bold; }
  #modal #modal-window {
    width: 30%;
    min-width: 300px;
    margin: 10% auto;
    background: white; }
    #modal #modal-window p {
      padding: 10px 30px; }
    #modal #modal-window hr {
      margin: 0; }
    @media only screen and (max-width: 310px) {
      #modal #modal-window {
        width: 260px;
        min-width: 0; } }

div.mainbar-wrapper {
  z-index: 300;
  top: 0;
  padding: 0;
  margin: 0;
  height: 50px;
  position: relative;
  background-color: #b12530;
  border-bottom-width: 0;
  overflow: hidden; }
  div.mainbar-wrapper .mainbar .nav-wrapper {
    float: right; }
    div.mainbar-wrapper .mainbar .nav-wrapper ul#menu-icons {
      display: block;
      float: left;
      margin: 0;
      padding: 0; }
      div.mainbar-wrapper .mainbar .nav-wrapper ul#menu-icons li {
        border-left: 1px #d94955 solid;
        display: block;
        float: left;
        padding: 13px 15px;
        margin: 0; }
        div.mainbar-wrapper .mainbar .nav-wrapper ul#menu-icons li:hover {
          background-color: #9c212a; }
        div.mainbar-wrapper .mainbar .nav-wrapper ul#menu-icons li.selected {
          background: #8f1e27;
          color: white;
          -webkit-box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.5); }
        div.mainbar-wrapper .mainbar .nav-wrapper ul#menu-icons li i {
          color: white;
          font-size: 1.5em;
          cursor: pointer; }
        div.mainbar-wrapper .mainbar .nav-wrapper ul#menu-icons li input {
          opacity: 0;
          width: 0;
          padding: 5px;
          height: 8px;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          border: none; }
  div.mainbar-wrapper #logo {
    overflow: hidden;
    float: left;
    padding: 6px 20px;
    display: block; }
    @media only screen and (max-width: 510px) {
      div.mainbar-wrapper #logo {
        width: 120px;
        padding: 9px 5px; } }
    div.mainbar-wrapper #logo img.desktop-logo {
      height: 38px;
      width: auto; }
      @media only screen and (max-width: 510px) {
        div.mainbar-wrapper #logo img.desktop-logo {
          display: none; } }
    div.mainbar-wrapper #logo img.mobile-logo {
      display: none;
      width: 120px;
      height: 40px; }
      @media only screen and (max-width: 510px) {
        div.mainbar-wrapper #logo img.mobile-logo {
          display: block; } }
  div.mainbar-wrapper #slogan {
    display: none;
    width: 480px;
    float: left;
    padding-top: 20px;
    color: #d9d979; }
  div.mainbar-wrapper #hamburger {
    display: none;
    margin-top: 0;
    color: white;
    margin-right: 10px;
    border-right: 1px solid #eb9ea4;
    padding: 13px 12px;
    float: left;
    background: #a0212b; }
    @media only screen and (max-width: 768px) {
      div.mainbar-wrapper #hamburger {
        display: block; } }
    div.mainbar-wrapper #hamburger i {
      font-size: 1.8em; }

.loader {
  display: block;
  width: 72px;
  height: 72px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -36px;
  margin-top: -36px; }

#menu-about.menu {
  right: 51px; }

#menu-search.menu {
  right: 0px; }

.menu {
  background: #8f1e27;
  display: none;
  position: absolute;
  top: 50px;
  z-index: 320;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .menu p {
    background: #cccccc;
    font-weight: normal;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    line-height: 14px;
    width: 280px;
    margin: 0 auto 10px; }
  .menu form {
    padding: 10px; }
    .menu form input {
      padding: 5px;
      width: 290px; }
  .menu ul {
    background: inherit;
    padding: 0;
    margin: 0; }
    .menu ul a {
      text-decoration: none;
      color: white; }
      .menu ul a li {
        margin: 0;
        list-style-type: none;
        padding: 10px 30px;
        border-bottom: 1px #b3b3b3 solid; }
        .menu ul a li.last {
          border-bottom: none; }
        .menu ul a li:hover {
          background: #9c212a; }

#searchresults {
  padding: 2em; }
  #searchresults hr {
    clear: both; }
  #searchresults h2 {
    font-size: 2em;
    color: #b12530;
    margin-bottom: 0.5em; }
  #searchresults h3 {
    padding: 2px 5px;
    background: #f2f2f2;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
    #searchresults h3.dimmed {
      color: #b3b3b3;
      background: beige; }
  #searchresults .expandTitles, #searchresults .expandContents {
    display: block;
    border: 1px dotted #b12530;
    padding: 2px 5px;
    margin-top: 5px;
    background: #FFFAFA; }
  #searchresults #blognames {
    clear: both;
    overflow: hidden; }
    #searchresults #blognames li.resultItem {
      display: block;
      width: 270px;
      height: 80px;
      float: left;
      border: 1px solid silver;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: scroll;
      padding: 5px; }
      #searchresults #blognames li.resultItem img {
        float: left; }
      #searchresults #blognames li.resultItem p {
        margin-left: 65px; }
      #searchresults #blognames li.resultItem a {
        font-weight: bold;
        color: #b12530; }
      #searchresults #blognames li.resultItem h4 {
        margin-left: 65px; }
  #searchresults #blogtitles {
    overflow: hidden; }
  #searchresults #blogcontents {
    overflow: hidden; }
  #searchresults .blogname-posttitle {
    margin-top: 2px;
    margin-bottom: 4px;
    overflow: auto;
    clear: both; }
  #searchresults .blogname {
    float: left;
    color: #b12530;
    margin-right: 5px;
    font-weight: bold; }
  #searchresults .posttitle {
    float: left;
    margin-right: 5px; }
    #searchresults .posttitle a:hover {
      text-decoration: underline; }
  #searchresults .postdate {
    display: inline;
    color: #efb3b8; }

.endloader {
  display: none; }
