
.blogentry{
    width: 278;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    background: white url('grey-light.gif') repeat-x;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
    img{
        border: 1px solid  rgb(240, 240, 240);
    }
}

.rtl{
    direction: rtl;
    font-family: tahoma ,sans-serif;
    font-size: 15px;
    line-height: 18px;
    blockquote{
        padding: 0 0 0 15px;
        border-left:none;
        border-right: 5px rgb(238,238,238) solid;
        font-size: 1.1em;
        line-height: 1.3em;
        max-width: 230px;
        overflow: auto;
    }
    .post_title a{
        font-weight: bold;
        font-size:20px;
        line-height: 24px;
    }
}

.post_info{
    position: relative;
}

.blog_name{
    font-family: "open-sans",sans-serif;
    font-size:14px;
    line-height: 16px;
    color: #777;
    position: absolute;
    width: 130px;
    top: 5px;
    left: 60px;
}

.post_title a{
    color: #444;
    text-decoration: none;
}

.post_title a:hover{
    color: #3B967C;
    text-decoration: none;
}

.post_title{
    font-family: "Bitter",serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 15px;
}

.blogentry blockquote {
    padding: 0 15px;
    font-family: "open-sans",sans-serif;
    font-size: 1.1em;
    max-width: 230px;
    overflow: hidden;
}
