//big wrapper 
#page_wrapper{
    padding:0;
    margin:0;
    overflow:hidden;
}

//center
#content_wrapper {
    position:relative;
    top:0px;
    overflow:hidden;
}

//right of center (without left nav)

#message{
    padding: 8px 25px;
    background: whitesmoke;
    border-bottom: 1px solid $lb_red;
}

#howto{
    h3{
        margin: 20px 0;
    }
    width:90%;
    max-width:400px;
    margin: 0 auto;
}

#view-area{
    background: #c5c5c5;
    overflow-y: scroll;
    overflow-x: hidden;
}

#posts{
    position:relative;
}

.loader{
    z-index: 500;
}

.endloader{
    background:darken(white,10);
    padding: 10px;
    text-align: center;
}