 
.card{
    width: 280px;
    padding: 0px; // devolve padding to sub-sections
    margin: 10px;
    background: white ;
    border-radius: 2px;
    @include drop-shadow();
    a{
        text-decoration: none;
    }

    //header
    .card_header{
        padding: $module_padding;
        position: relative;
        border-bottom: 1px solid silver;
        background:#f2f2f2;
        //options
        &.strong{
            font-weight: strong;
        }
        &.redheader{
            background:$lb_red;
        }
        &.whiteheader{
            background: white;
        }
        &.noborder{
            border-bottom:none;
        }
        &.tip{
            $background: #FFCC66;
            background: $background;
            height:30px;

            &:after{
                content:"TIP";
                position:absolute;
                bottom:10px;
                left:118px;
                font-family: "Bitter",serif;
                font-size: 22px;
                color:lighten($background, 30);
            }
        }
        img{
            border: 1px solid  rgb(240, 240, 240);
        }
        .blog_name{
            opacity: .9;
            font-size:14px;
            line-height: 16px;
            position: absolute;
            width: 180px;
            top: 10px;
            left: 70px;
        }
        h3{
            font-size: 1.2em;
            line-height: 1.2em;
            font-family: "Bitter",serif;
            &.redfont{
                color:$lb_red;
            }
            &.whitefont{
                color:white;
            }
        }
    }
    //body
    .card_body{
        padding: $module_padding;
        max-height: 450px;
        &.nopadding{
            padding:0;
        }
        &.elastic{
            max-height: inherit;
        }
        &.redbody{
            background: $lb_red;
        }
        &.silverbody{
            background: darken(white,3);
        }
        overflow: hidden;
        .post_time {
            font-size: 13px;
            color: darken($lb_red,10);
            opacity: .3;
        }
        [id^="content-post-"]{
            max-height: 500px;
            overflow: hidden;
        }
        p{
            padding:5px;
            font-size: 16px;
        }
        blockquote{
            padding: 0 15px;
            font-size: .9em;
            line-height: 1.4em;
            max-width: 230px;
            overflow: hidden;
        }
        img{
            border: lighten(silver, 10) solid 1px;
            margin-top:10px;
        }
        .post_title {
            margin-top: 0;
            margin-bottom: 15px;
            a{
                color: #444;
                text-decoration: none;
                font-size: 18px;
                line-height: 18px;
                font-weight: bold; 
                &:hover{
                    color: #3B967C;
                    text-decoration: none;
                }          
            }
        }
        .list_type_a{
            /* A list type a is a list that takes a div.thumb, an h3 (title) and h4 (description) */
            clear: both;
            padding-bottom:15px;
            padding-top:15px;
            &:first-child{
                padding-top:0;
            }
            border-bottom: 1px lighten(silver,5) dotted;
            overflow: auto;
            &:last-child{
                margin-bottom: 0;
                border-bottom:none;
            }
            .thumb{
                float:left;
                width:74px;
                height: 74px;
                border:1px solid darken(white,10%);
                overflow: hidden;
                img{
                    margin:0;
                }
            }

            a {color:#444;}
            h4 a{
                font-size: 15px;
                line-height: 15px;
                margin-top: 0;
                margin-bottom: 0;
            }
            h4, h5{
                margin-left: 85px;
                margin-top: 0;
                margin-bottom: 0;
            }
            h4 a, h5 a{ 
                font-family: "Bitter",serif;
                display: block;
            }
            h5 a{
                margin-top: 2px;
                font-size: 12px;
                font-family: arial,sans-serif;
                color: rgb(180,180,180);
                font-weight: normal;
            }
        } 

        .list_type_b{
            //This list takes a thumbnail (.thumb), a headline (h3) & a button
            padding: 10px;
            box-shadow: 0 1px 1px 1px darken(white,10);
            margin-bottom: 10px;
            clear:both;
            overflow:auto;
            background:white;

            img{
                margin:0;
            }
            img.thumb{
                float: left;
                width:50px;
                height:50px;
            }
            h3{
                font-family: "Bitter",serif;
                max-width: 200px;
                font-size: 1.1em;
                line-height: 1.2em;
                margin-left: 65px;
            }
            .button-wrapper{
                margin-top: 5px;
                display:block;
                margin-left: 65px;
            }

        }

    }
    .card_footer{
        padding:$module_padding;
        &.nopadding{
            padding:0;
        }
        position:relative;
        margin-top:1em;
        border-top:1px solid silver;
        background: darken(white,3%);
        direction: ltr;
        ul{
            overflow:auto;
            li{
                opacity: .65;
                &:hover{
                    opacity: 1;
                    i{
                        color:$lb_red;
                    }
                }
                font-size: 12px;
                float: left;
                margin-right: 15px;
                padding:7px 12px;
                &:first-child{
                    padding-left: $module_padding;
                }
                &:last-child{
                    margin-right: 0;
                    padding-right: 0;
                }
                &.save{
                    background: darken(white,5%);
                    border-right:1px solid darken(white,20);
                }
                i{
                    margin-right:3px;
                    font-size: 0.9em;
                }
            }
        }
    }
    &.rtl{
        direction: rtl;
        font-family: tahoma ,sans-serif;
        font-size: 15px;
        line-height: 18px;
        .post_title a{
            font-weight: bold;
            font-size:20px;
            line-height: 24px;
        }
        .blog_name{
            margin-left: -20px;
        }
        blockquote{
            padding: 0 25px 0 0;
            border-left:none;
            border-right: 5px rgb(238,238,238) solid;
            font-size: 1.2em;
            line-height: 1.3em;
            max-width: 230px;
            overflow: auto;
        }
    }
}
