 
.card-container{
    margin: 10px;
}

#facebooklikes.card-container
{
    .card_body
    {
        height:65px;
    }
}

.divider p{
    padding: 5px;
}

.card
{
    width: 300px;
    padding: 0px; // devolve padding to sub-sections
    background: white ;
    //border-radius: 2px;
    //@include drop-shadow();
    a{
        text-decoration: none;
    }
    &.red{
        background: $lb_red;
    }
    img{
        display: block;
    }
    &.nobackground{
        background: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border:none;
    }
    border: 1px solid darken(white, 30);

    //header
    .card_header{
        direction: ltr;
        overflow:auto;
        padding: $module_padding;
        position: relative;
        border-bottom: 1px solid lighten(silver,10);
        //options
        &.noborder{
            border-bottom:none;
        }
        .add2fav{
            margin-top: 8px;
            border: 1px solid lighten(silver,16);
            background: lighten(silver,16);
            color: silver;
            border-radius: 4px;
            padding: 2px 5px;
            width: 160px;
            font-size: .9em;
            a{
                color: inherit;
                &:hover{
                    color:grey;
                }
            }
        }
        #timeSelector{
            background: darken($lb_red,5);
            border: 1px solid darken($lb_red, 8);
            color:darken(white,10);
            padding: 3px 10px;
            display: block;
            min-width: 80px;
            position: absolute;
            top: 6px;
            left: 190px;
            i.rightit{
                float:right;
            }
            &:hover{
                background: darken($lb_red,8);
                color:white;
            }

        }
        #timeList{
            background-color: darken($lb_red,6);
            position: fixed;
            color: white;
            z-index: 100;
            margin-top: -24px;
            margin-left: 180px;
            border: 1px solid darken($lb_red, 8);
            li{
                font-size: 14px;
                min-width: 80px;
                padding: 4px 10px;
                margin: 0;
                color: #e6e6e6;
                i{
                    float:right;
                }
                &:hover{
                    background: darken($lb_red,9);
                }
            }
            
        }
        &.tip{

            $background: #FFCC66;
            background: $background;
            color: darken($background, 50);
            i{
                color: darken($background, 30)
            }
        }
        img{
            border: 1px solid  rgb(240, 240, 240);
            float:left;
            border-radius: 50em;
        }
        .blog_name{
            font-size:17px;
            line-height: 18px;
            width: 180px;
            margin-left: 70px;
            a{
                color: lighten(black, 20);
            }
        }
        .blog_tools{
            margin-top: 6px;
            margin-left: 70px;
            ul{
                li{
                    float: left;
                    color: lighten(black,75);
                    font-size: 12px;
                    margin-right: 10px;
                    &:hover{
                        color:$lb_red;
                    }
                }
            }
        }
        h3{
            font-size: 1.2em;
            line-height: 1.2em;
            &.redfont{
                color:$lb_red;
            }
            &.whitefont{
                color:white;
            }
        }
    }
    //body
    .card_body{
        padding: $module_padding;
        max-height: 600px;
        &.nopadding{
            padding:0;
        }
        &.elastic{
            max-height: inherit;
        }
        &.redbody{
            background: $lb_red;
        }
        &.silverbody{
            background: darken(white,3);
        }
        &.tip{
            padding:23px;
            p{
                padding: 0;
                color: lighten(black, 40);
            }
            a{
                color: $lb_red;
            }
            h3{
                color: lighten(black, 20);
            }
            img{
                &.noborder{
                    border:none;
                }
            }
        }
        overflow: hidden;
        .post_time {
            font-size: 12px;
            color: darken($lb_red,10);
            opacity: .6;
        }

        .number-of-clicks {
            display: block;
            position: absolute;
            background: beige;
            padding: 2px 10px;
            top: 85px;
            right: 10px;
        }
        [id^="content-post-"]{
            max-height: 500px;
            overflow: hidden;
        }
        p{
            padding:5px;
            font-size: 16px;
        }
        .excerpt{
            padding-bottom: 15px;
        }
        blockquote{
            padding: 10px;
            margin: 10px;
            border-top: 1px dotted silver;
            margin-top: 10px;
            opacity: 0.6;
            &.ltr{
                font-size: 1.1em;
                line-height: 1.4em;
                max-width: 230px;
                overflow: hidden;
                &:first-letter {
                    float: left;
                    color: $lb_red;
                    font-size: 40px;
                    line-height: 40px;
                    margin-left: 0;
                    padding-left: 0;
                    padding-right: 5px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            &.rtl{
                font-size: 1.2em;
                font-family: tahoma;
                direction: rtl;
            }
        }
        img{
            border: lighten(silver, 10) solid 1px;
            margin-top:10px;
        }
        .post_title {
            margin-top: 0.5em;
            margin-bottom: 15px;
            a{
                color: #444;
                text-decoration: none;
                font-size: 20px;
                line-height: 25px;
                &:hover{
                    color: #3B967C;
                    text-decoration: none;
                }          
            }
            small{
                padding: 0 10px;
                font-size: 14px;
                color: white;
                background: $lb_red;
            }

            &.rtl{
                font-family: Droid Arabic Kufi, Serif;
                direction:rtl;
            }

            &.givemargins{
                margin-left:10px;
                margin-right:10px;
                padding-bottom:10px;
            }

            &.giveborder{
                border-bottom: 1px solid darken(white, 10);
            }
        }
        .list_type_a{
            /* A list type a is a list that takes a div.thumb, an h3 (title) and h4 (description) */
            clear: both;
            padding-bottom:15px;
            padding-top:15px;
            &:first-child{
                padding-top:0;
            }
            border-bottom: 1px lighten(silver,5) dotted;
            overflow: auto;
            &:last-child{
                margin-bottom: 0;
                border-bottom:none;
            }
            .thumb{
                float:left;
                width:74px;
                height: 74px;
                border:1px solid darken(white,10%);
                overflow: hidden;
                img{
                    margin:0;
                }
            }

            a {color:#444;}
            h4 a{
                font-size: 15px;
                line-height: 15px;
                margin-top: 0;
                margin-bottom: 0;
            }
            h4, h5{
                margin-left: 85px;
                margin-top: 0;
                margin-bottom: 0;
            }
            h4 a, h5 a{ 
                display: block;
            }
            h5 a{
                margin-top: 2px;
                font-size: 12px;
                color: rgb(180,180,180);
                font-weight: normal;
            }
        } 

        .list_type_b{
            //This list takes a thumbnail (.thumb), a headline (h3) & a button
            padding: 10px;
            box-shadow: 0 1px 1px 1px darken(white,10);
            margin-bottom: 10px;
            clear:both;
            overflow:auto;
            background:white;

            img{
                margin:0;
            }
            img.thumb{
                float: left;
                width:50px;
                height:50px;
            }
            p{
                font-size: 13px;
                margin: 0;
                margin-left:60px;
                color: lighten(black, 60);
            }

            h3{
                max-width: 200px;
                font-size: 1.1em;
                line-height: 1.2em;
                margin-left: 65px;
            }
            .button-wrapper{
                margin-top: 5px;
                display:block;
                margin-left: 65px;
            }

        }

        .tip {
            text-align: center;
        }

    }
    .card_footer{
        padding:$module_padding;
        &.nopadding{
            padding:0;
        }
        &.noborder{
            border:none;
        }
        &.tip{
            img{
                margin: 0 auto;
            }
        }
        position:relative;
        border-top:1px solid silver;
        background: darken(white,3%);
        direction: ltr;
        ul{
            height:38px;
            overflow:hidden;
            li{
                opacity: .65;
                &:hover{
                    opacity: 1;
                    background: darken(white,6%);
                    i{
                        color:$lb_red;
                    }
                }
                &:first-child{
                    width:80px;
                }
                font-size: 12px;
                float: left;
                padding:10px 20px;
                border-right: 1px solid silver;
                &:first-child{
                    //padding-left: $module_padding;
                }
                &:last-child{
                    border-right: none;
                }
                &.save{
                    //background: darken(white,5%);
                    //border-right:1px solid darken(white,20);
                }
                i{
                    margin-right:3px;
                    font-size: 1.2em;
                    &.selected{
                        color:$lb_red;
                    }
                }
            }
        }
    }
    .announcement-graphic{
        width: 27px;
        height: 26px;
        display: block;
        float: left;
        background: #B3D135;
        color:#fff;
        margin-right: 10px;
        padding: 22px 8px;
        font-size: 25px;
    }
    .announcement{
        height: 50px;
        padding:10px;
        margin-bottom:20px;
        h4 {
            strong{
                font-weight:bold;
            }
            a{
                color:$lb_red;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
  .CoverThumb
  {
    border:1px solid darken(white,5);
    float:left;
    width:73px;
    height:73px;
    overflow:hidden;
  }
}
div.bloggerCard
{
  .featuredBlogHeader
  {
    position: relative;
    min-height: 40px;
  }
  #tags
  {
    a
    {
      &:first-child{
        margin-left: 0;
      }
      margin-left:5px;
      border-radius:5px;
      background: $lb_red;
      color:white;
      padding:2px;
      font-size: .9em;
    }
  }
  .card
  {
    $pastel: rgb(216, 232, 197);
    .card_header.description{
      padding:5px 10px;
      background: beige;
      &.nophotos{
        background: $pastel;
      }
    }
    .card_body{
      background:darken(silver,30);
      h3{
        color: $pastel; 
      }
      ol{
        list-style-type: decimal;
        padding-left: 20px;
        color: lighten($pastel,10);
        li{
          margin-bottom:5px;
          padding-top:2px;
          border-top:solid 1px darken(silver,15);
          a{
            font-size: 0.95em;
            line-height: 1em;
            color: white;
          }
        }
      }
    }
    .avatar
    {
      overflow: auto;
      margin-bottom:10px;
      &.withheader
      {
        position:absolute;
        top:125px;
        left:125px;
      }
      &.noheader
      {
        position:absolute;
        top:20px;
        left:125px;
      }
      img
      {
        width:50px;
        height:50px;
        border-radius:50%;
        border:2px solid darken(white, 5);
      }
    }
    .blogTitle
    {
      margin-top:50px;
      text-align: center;
      h2
      {
        line-height: 1em;
      }
    }
  }
  div.tools
  {
    ul
    {
      li
      {
        padding:8px 0;
        width:100px;
        float:left;
        background: lighten(silver, 20);
        text-align: center;
        border-bottom: 1px solid silver;
        &:nth-child(2)
        {
          width:98px;
          border-left:1px solid silver;
          border-right:1px solid silver;
        }
        &:hover{
          background: lighten(silver,15);
        }
        i
        {
          font-size: 1.2em;
          color:lighten(black, 50);
        }
        &.removeFromFav
        {
            i
            {
                $yellow: rgb(255, 199, 0);
                color: $yellow;
                &:hover
                {
                    color: darken($yellow, 10);
                }
            }
        }   
        &.addToFav{
            i{
                color: lighten(silver,10);
                text-shadow: 2px 2px 2px #fff;
                &:hover{
                    color: silver;
                } 
            }
        }
      }
    }
  }
  ol
  {
    li
    {
      margin-bottom:10px;
      a{
        line-height: 1.1em;
        color:darken($lb_red,10);
      }
    }
  }
}

/* Favorites and Stars */

i.fav{
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}

.removeFromFav i{
    $yellow: rgb(255, 199, 0);
    color: $yellow;
    &:hover{
        color: darken($yellow, 10);
    }

}
.addToFav i{
    color: lighten(silver,10);
    text-shadow: 2px 2px 2px #fff;
    &:hover{
        color: silver;
    }
}
.updating i{
    color: silver;
}


