// general settings

.strong{
    font-weight: bold;
}

.lbred{
    color: $lb_red;
}

html{
    font-size: 62.5%;
}

.headlinefont{
    font-family: "Bitter",sans-serif;
}

.secondaryfont{
    font-family: "open sans",sans-serif;
}

.arabicfont{
    font-family: 'Droid Arabic Kufi', serif;
}

input:focus, textarea:focus {
    outline: none;
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
    padding:0;
    margin: 0;
}

a{
    text-decoration:none;
    color: #555;
}

ul{
    margin:0;
    padding:0;
    list-style-type:none;
}


h1,h2,h3,h4{
    font-weight: bold;
    line-height: 1.6em;
    margin: 0;
}

h1 {font-size:2em;}
h2 {font-size:1.8em;}
h3 {font-size:1.6em;}
p{
    margin: .5em 0;
}

textarea, input{
    padding:.4em .4em;
    font-size: .8em;
    line-height: 1.3em;
    border-radius: 4px;
    border:silver 1px solid;
}

@mixin drop-shadow ($x: 1px, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
  -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow:    $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow:         $x $y $blur $spread rgba(0, 0, 0, $alpha);
}
