body{
    font-family: "helvetica neue", sans-serif;
    font-size: 15px;
    line-height: 18px;
    background: url('noise.png') rgb(218, 218, 218);
    padding:0;
    margin: 0;
}

strong{
    font-weight:bold;
}

a{
    color: #444;
    a:hover{
        color: #3B967C;
    }
}

ul{
    padding:0 2em;
    li{
        list-style-type: circle;
        margin-bottom: .5em;
    }
}

p{
    margin: .5em 0;
}

h1,h2,h3,h4{
    font-weight: bold;
    color:$lb_red;
    line-height: 1.6em;
    margin: 1em 0;
}

h1 {font-size:1.6em;}
h2 {font-size:1.4em;}
h3 {font-size:1.2em;}
h4 {font-size:1.1em;}

textarea, input{
    padding:.4em .4em;
    font-size: .8em;
    line-height: 1.3em;
    border-radius: 4px;
    border:silver 1px solid;
}

.small{
    font-size:.9em;
    color:grey;
}

select{
    margin-bottom: 0;
    width: 270px;
}

#modal_background{
    position:absolute;
    opacity:.8;
    width:100%;
    height:100%;
    background:#222;
    z-index: 555;
}

.top-right{
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

a .top-right{
    text-decoration: none;
}

#channels_window{
    position:absolute;
    top:130px;
    left:50%;
    height:300px;
    width:280px;
    margin-left: -140px;
    background:white;
    z-index: 99999;
    box-shadow: 0 0 20px black;
    moz-box-shadow: 0 0 20px black;
    webkit-box-shadow: 0 0 20px black;
    h2{
        margin: 0;
        padding: 5px 20px;
        color: white;
        font-weight: normal;
        background:$lb_red;
    }
    #window_chooser{

        padding:0;
        ul{
            padding: 0;
            a{
                text-decoration:none
            }
            li{
                margin:0;
                list-style-type: none;
                padding: 7px 20px;
                border-bottom: 1px solid darken(white,5%);
                &.selected{
                    color:$lb_red;
                    padding-left: 17px;
                    border-left:3px solid grey;
                }
                &:hover{
                    background: darken(white,5%);
                }
            }
        }
    }

}