$left_padding: 20px;

#left-col-wrapper{
    display: none ; //javascript will make this 1 once height is calculated and rendered
    position: relative;
    top:0;
    width: 239px ; //280 with border
    background-color: #f8f8f8; 
    float: left;
    border-right: 1px solid $interface_border_color;

    button.leftNav-dismiss{
            margin-top:10px;
            margin-right:10px;
            color:white;
            cursor:pointer;
            float: right;
            padding:2px;
            background:transparent;
            border:0;
            font-size: 18px;
            border: 1px lighten(black,80) solid;
            border-radius: 20px;
            line-height: 15px;
            background:lighten(black,85);
            &:focus {
                outline:none;
            }
    }

    @media only screen and (max-width : 768px){
        .section{
            display: none;
        }
        &.float_it{
            display: block;
            position: absolute;
            z-index: 500;
            height:100%;
            box-shadow: 0 4px 5px #444;
            border-top:none;
        }
    }
    #users{
        padding:$left_padding;
    }
    
    #viewtype{
    }
    sup{
        text-transform: capitalize;
        font-weight: normal;
        margin-left: 0.5em;
        font-size: 11px;
        color:$lb_red;
        vertical-align: baseline;
        position: relative;
        top: -0.4em;
       }
    h4.sectionheader{
        text-transform: uppercase;
        padding:0;
        margin:0;
        margin-left: -10px;
        padding-top:20px;
        color: $lb_red;
        font-weight: bold;
        padding-left:$left_padding;
    }
    #icons{
        padding-top: 5px;
        padding-left:$left_padding; 
        margin-right:1em;
        img{
            margin-right: 10px;
            border: 1px solid lighten(black,80);
            &.selected{
                border: 1px solid $lb_red;
            }
        }  
   
    }

    .label{

        width:239px - $left_padding;
        i{
            margin-right:5px;
            color: lighten(black,49);
        }
        padding-left: $left_padding;
        &.level1{
            padding-top:2px;
            padding-bottom:2px;
        }
        &.level2{
            padding-left:$left_padding+20px;
            padding-top:5px;
            padding-bottom:5px;
            width:259px - $left_padding;
            }

        &:hover{
            background-color:rgba(0,0,0,0.05);
            i{
                color: $lb_red;
            }
        }
    }
.selected{
    background-color: lighten(black, 88);
    border-bottom: darken(white,8) 1px solid;
    border-top: lighten(black,90) 1px solid;
    i{
        color: $lb_red;
    }
}
}