$lb_red : #A33E46;
$lb_dark_red: #7A323B;

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

.highlighted{
    background-color:darken($lb_red,14%);
}

