@media only screen and (min-width : 320px) and (max-width : 768px) {

    form.form-search input {
        display: none;
    }

    body{
        padding-left: 0;
        padding-right: 0;
    }

    input.input-medium.search-query.span5{
        width:80%;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0;
    }

    img#mobile-logo{
        display: block;
    }

    div.logobar{
        display: none;
    }

    .descriptionbar h5 {
        font-size: 1em;
        line-height: 1em;
        margin:0;
        margin-bottom: 4px; 
    }

    .container{
        margin-left: 1.2em;
        margin-right: 1.2em;
        padding-right: 0;
    }

    .navbar {
        margin-bottom: 0px;

    }

}